@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

#item-lua {
  font-size: 20px;
  cursor: pointer;
  color: #FFFFFF;
}


/* MENU NAVEGADOR */
header {
    background-color: #1A1818;
    height: 100%;
}


.nav-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 6rem;
    justify-content: space-between;
    background-color: #1A1818;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}


.nav-item {
    margin: 0 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    /*font-weight: 400;*/
    color: #FFD80D;
    padding: 10px;
}

.login-button{
    margin: 0 40px;
}

.login-button a {
    padding: 10px;
    border-radius: 15px;
    color: #FFD80D;font-size: 1.15rem;
    text-decoration: none;
}

.login-button button a {
    text-decoration: none;
    color: rgb(225, 201, 16);
    font-weight: 500;
    font-size: 1.1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* sobre.html */
main{
    margin-bottom: 0;
    background-color: #f3e0c8;
}
/*  Footer  */
footer{
    padding: 0;
}

.main-footer {
  background: #1A1818;
  padding: 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-item + .footer-item {
  margin-left: 16px;
}

.footer-item img {
  width: 32px;
  height: 32px;
}

/* MAIN */
.schedule-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-item + .schedule-item {
  border-top: 1px solid #333;
  margin-top: 8px;
  padding-top: 8px;
}

.buy-ticket-button {
  width: 20%; /* Ficou faltando 4% para 100% de width: para deixar as bordas sobrando um pouco */
}

/* Main */
.section-title{
    position: relative;
    color: #FFD80D;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    background-color: rgb(34, 33, 33);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.normal-section + .normal-section {
  margin-top: 80px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*gap: 40px;*/
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
  border: #FF8C00 solid;
}

.product h3{
  text-transform: uppercase;
}

.product p{
  width: 240px;
    text-align: justify;
}

/*.product-corpo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 240px;
  text-align: justify;
  padding: 7px;
}*/




.product-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.product-image {
  width: 240px; /* Flex wrap coloca 2 posters por linha, pq a seção tem 600px */
  height: 144px;
  padding: 5px 20px;
}

.product-price-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10pxs;
}

.product-price {
  margin-right: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.button-hover-background {

    background-color: #FFD80D;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button-hover-background:hover,
.button-hover-background:focus {
    background-color: #FFD80D;
}


.button-hover-background:hover {
  background: transparent;
  color: var(--red);
}

/* tabela carrinho de compras */
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-item {
  text-align: start;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 6px;
  text-transform: uppercase;
}

.second-col,
.third-col {
  width: 26%;
}

.cart-product td {
  padding: 8px 0;
}

.product-identification {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 120px;
  height: 70px;
}

.cart-product-title {
  margin-left: 16px;
  font-size: 18px;
}

.cart-product-price {
  font-family: "Raleway", sans-serif;
}

.product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--blue);
  text-align: center;
  background: #eee;
}

.remove-product-button {
  margin-left: 12px;
  background: #ff0000;
  color: white;
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-product-button:hover {
  filter: brightness(0.8);
}

.cart-total-container {
  border-top: 1px solid var(--gray);
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

.cart-total-container strong {
  margin-right: 12px;
}

.purchase-button {
  display: flex;
  margin: 50px auto 20px;
  background:#0ac60a;
  color: var(--white);
  border: 0;
  border-radius: 12px;
  padding: 14px 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
    margin-bottom: 0;
  transition: filter 0.2s;
}

.purchase-button:hover {
  filter: brightness(0.8);
}

.purchase-button {
    position: relative;
    bottom: 10px;
    right: 10px; 
}



/* Responsividade */
@media (max-width: 584px) {
  .movie-title-large {
    font-size: 36px;
  }

  .schedule-item {
    flex-wrap: wrap;
    text-align: center;
  }

  .schedule-item + .schedule-item {
    margin-top: 12px;
  }

  .show-date,
  .show-place {
    width: 32%;
    padding: 4px;
  }

  .show-city {
    width: 33%;
    padding: 4px;
  }

  .buy-ticket-button {
    width: 60%;
    margin-top: 12px;
    padding: 12px 2px;
  }


  .products-container {
    justify-content: center;
  }

  .product-identification {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-product-title {
    margin-top: 6px;
  }

  .product-qtd-input {
    display: block;
    margin: 0 auto;
  }

  .remove-product-button {
    display: block;
    margin: 8px auto 0;
  }
}