@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.material-icons{
    color: aliceblue;
}

header {
    /*background: linear-gradient(-45deg, gold, rgb(167, 81, 19));*/
    background-color: #1A1818;
    box-shadow: 0px 3px 10px #FFD80D;
    height: 145px;
}


.nav-bar {
    display: flex;
    padding: 1.5rem 6rem;
    justify-content: space-between;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-list2 {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400;
    color: #FFD80D;
}

.login-button button {
    border: none;
    background-color: black;
    padding: 10px 15px;
    border-radius: 15px;
    margin: 33px;
}

.login-button button a {
    text-decoration: none;
    color: rgb(225, 201, 16);
    font-weight: 500;
    font-size: 1.1rem;
}

/* Corpo da página*/

h1 {
    color:#FFD80D;
    background-color: rgb(34, 33, 33);
    display: block;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

main {
    background-color: #1a1818;
    height: 1850px;
}

/* Menu promo*/

.minimenu{
    display: flex;
    justify-content: space-between;
}


.itens-menu {
    display: flex;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 5%;
    border-color: #FFD80D;
    margin: 1%;
    margin-top: 60px;
    height: 460px;
    width: 300px;
}

.info {
    background-color: black;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.info h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.promo {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 75px 75px;
    margin-top: 1rem;
}

.promo span {
    text-decoration: line-through;
    font-size: 1rem;
    color: #3c3a3a;
    font-weight: bold;
}

.promo p {
    color: rgb(17, 223, 17);
    font-size: 1.10rem;
    font-weight: bold;
}

.itens-menu div {
    border-radius: 5%;
    background-color: black;
    box-shadow: 30px rgb(88, 87, 86);
}

div img {
    align-items: center;
}

/*Sobre nós*/

.sobre_nos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 25%;
    width: 800px;
    height: 250px;
    border-style: solid;
    border-color: #FFD80D;
    border-radius: 5px;
}

.sobre_nos p {
    padding: 9px;
    font-size: 1.3rem;
    color: #fffef9;
    text-align: center;
}

.text_colorido {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.text_colorido p {
    font-weight: bold;
    font-family: 'kalam';
    font-size: 1.4rem;
}

.button_cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;  
}

.button_cardapio button {
    padding: 30px 300px;
    background-color: #FFD80D;
    font-size: 1.6rem;
    border-width: 10px;
    border-style: double;
    border-color: rgb(104, 75, 1);
    border-radius: 15px;
}

.button_cardapio button a {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* Rodapé */

footer {
    background-color: rgb(34, 33, 33);
    height: 300px;
}

h2 {
   color: #FFD80D;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   padding: 30px;
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 1.1rem;
    margin: 10px;
}

.contatos ul {
    list-style: none;
}
