@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.botao-back-topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
}

#botao-topo{
    font-size: 40px;
    color: #ff8c00;
    background: black;
    border-radius: 50px;
}

#item-lua{
    font-size: 20px;
    cursor: pointer;
    color: #ffff;
}

/* MENU NAVEGADOR */
header {
    background-color: #1A1818;
    height: 100%;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.15rem 6rem;
    justify-content: space-between;
    position: relative;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-list2 {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-list2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #FFD80D;
    padding: 10px;
}

.login-button{
    margin: 0 40px;
}

.login-button a {
    padding: 10px;
    border-radius: 15px;
    color: #FFD80D;font-size: 1.15rem;
    text-decoration: none;
}

.login-button button a {
    text-decoration: none;
    color: rgb(225, 201, 16);
    font-weight: 500;
    font-size: 1.1rem;
}

/* DROPDOWN USUARIO */
.user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-heigth 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: fit-content;
    position: absolute;
    right: 5px;
}

.sub-menu {
    background: white;
    padding: 35px;
    margin-right: 10px;
}

.user-info {
    display: flex;
    align-items: center;

}

.user-info h2 {
    font-weight: 22px;


}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;

}

/*.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 150px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
      border 0.3s;
}

.profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(./assets/profile-pic.jpg);
    background-size: cover;
}
  
.profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color: greenyellow;
}*/



/*.nav-list2 {
    display: flex;
    align-items: center;
}

.nav-list2 ul {
    display: flex;
    justify-content: center;
    list-style: none;
}*/

.nav-item {
    margin: 0 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    /*font-weight: 400;*/
    color: #FFD80D;
    padding: 10px;
}

.login-button{
    margin: 0 40px;
}

.login-button a {
    padding: 10px;
    border-radius: 15px;
    color: #FFD80D;font-size: 1.15rem;
    text-decoration: none;
}

.login-button button a {
    text-decoration: none;
    color: rgb(225, 201, 16);
    font-weight: 500;
    font-size: 1.1rem;
}
/* Corpo da página*/

h1 {
    color:#FFD80D;
    background-color: rgb(34, 33, 33);
    display: block;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.body-home {
    background-color: #f3e0c8;
    height: 100%;
}
/* carrossel */

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFF;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #FFF;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #FFF;
}







/* Menu promo*/
.minimenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.itens-menu {
    display: flex;
    background-color: black;
    color: white;
    border-style: solid;
    border-radius: 5%;
    border-color: #000000;
    margin: 1%;
    margin-top: 60px;
    height: 500px;
    width: 300px;
}

.info1, .info2, .info3, .info4 {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 50px;
    margin-top: 3rem;
}

.info h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
}

.promo {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 75px 75px;
    margin-top: 1rem;
}

.promo span {
    text-decoration: line-through;
    font-size: 1rem;
    color: #3c3a3a;
    font-weight: bold;
}

.promo p {
    color: rgb(17, 223, 17);
    font-size: 1.10rem;
    font-weight: bold;
}

.itens-menu div {
    border-radius: 5%;
    background-color: black;
}

.imagem-topo{
    height: 255px;
}

.imagem-produtos {
    align-items: center;
    border-radius: 14px;
    height: 250px;
    width: 300px;
}

/*Sobre nós*/

.sobre_nos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    max-width: 800px;
    border-style: solid;
    border-color: #FF8C00;
    border-radius: 5px;
    background-color: #000000;
}
@media(min-width: 300px) and (max-width: 820px){
    .sobre_nos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
        max-width: 800px;
        border-style: solid;
        border-color: #FFD80D;
        border-radius: 5px;
    }
}

.sobre_nos p {
    padding: 25px;
    font-size: 1.3rem;
    color: #fffef9;
    text-align: justify;
}

.text_colorido {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 40px auto;
    max-width: 1000px;
    
}
@media(min-width: 300px) and (max-width: 820px){
    .text_colorido {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 40px;
    }
}

.text_colorido p {
    font-weight: bold;
    font-family: 'kalam';
    font-size: 1.4rem;
    text-align: justify;
    color: #000000;
}

.button_cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;  
}

.button_cardapio button {
    padding: 30px 300px;
    background-color: #FFD80D;
    font-size: 1.6rem;
    border-width: 10px;
    border-style: double;
    border-color: rgb(104, 75, 1);
    border-radius: 15px;
    margin: 1.5rem;
}
@media(min-width: 300px) and (max-width: 820px){
    .button_cardapio button {
        padding: 30px 40px;
        background-color: #FFD80D;
        font-size: 1.5rem;
        border-width: 10px;
        border-style: double;
        border-color: rgb(104, 75, 1);
        border-radius: 15px;
    }

    .dark-icone{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 7px;
        cursor: pointer;
    }
}

.button_cardapio button a {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

/* Rodapé */

footer {
    background-color: rgb(34, 33, 33);
    height: 200px;
}

h2 {
   color: #FFD80D;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   padding: 30px;
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 1.1rem;
    margin: 10px;
}

.contatos ul {
    list-style: none;
}
.contatos li{
    color: #FFD80D;
}

#material-icons{
    color: aliceblue;
    position: relative;
    margin-right: 4px;
}

.ifood{
    width: 30px;
    margin-right: 4px;
}

@media(min-width: 300px) and (max-width: 820px){
    .sobre_nos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
        max-width: 800px;
        border-style: solid;
        border-color: #FFD80D;
        border-radius: 5px;
    }

    .text_colorido {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 40px;
    }

    .button_cardapio button {
        padding: 30px 40px;
        background-color: #FFD80D;
        font-size: 1.5rem;
        border-width: 10px;
        border-style: double;
        border-color: rgb(104, 75, 1);
        border-radius: 15px;
    }

    .minimenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}